<a href="https://colab.research.google.com/github/Ahtesham-Ibne-Mostafa/BRAC_University_Empty_Room_Finding_Project/blob/main/BRAC_University_empty_room.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
url = "https://admissions.bracu.ac.bd/academia/admissionRequirement/getAvailableSeatStatus"
response = requests.get(url)
html_content = response.content

In [4]:
# Create a Beautiful Soup object
soup = BeautifulSoup(html_content, 'html.parser')

In [5]:
# Find the table or elements containing the data
table = soup.find('table')

In [14]:
# Extract the data from the table
data = []
for row in table.find_all('tr'):
    row_data = []
    for cell in row.find_all('td'):
        row_data.append(cell.text.strip())
    data.append(row_data)

dataset = pd.DataFrame(data)

In [21]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9
0,,ACT201,BBA,SHO,3.0,01,Su(02:00 PM-03:20 PM-UB21913) Tu(02:00 PM-03:2...,30,30,0
1,,ACT201,BBA,SHO,3.0,02,Su(02:00 PM-03:20 PM-UB21913) Tu(02:00 PM-03:2...,30,30,0
2,,ACT201,BBA,TBR,3.0,03,Mo(03:30 PM-04:50 PM-UB20802) We(03:30 PM-04:5...,33,33,0
3,,ACT201,BBA,AFZ,3.0,04,Su(02:00 PM-03:20 PM-UB20702) Tu(02:00 PM-03:2...,33,33,0
4,,ACT201,BBA,KUR,3.0,05,Sa(09:30 AM-10:50 AM-UB20702) Th(09:30 AM-10:5...,33,33,0

In [22]:
print(len(dataset[6]))

1398

In [24]:
def csv(dataset):
  day_list = []
  time_list = []
  room_list = []

  for i in range(len(dataset[6])):
      text=dataset[6][i].split(') ')
      for item in text:
          day_start = item.find("(") + 1
          start_time_start = item.find("(") + 1
          start_time_end = item.find("-", start_time_start)
          end_time_start = item.find("-", start_time_end) + 1
          end_time_end = item.find("-", end_time_start)
          room_start = item.find("-", end_time_end) + 1
          if ')' in item:
              room_end = item.find(")", room_start)
          else:
              room_end=len(item)
          day = item[:2]
          start_time = item[start_time_start:start_time_end]
          end_time = item[end_time_start:end_time_end]
          room = item[room_start:room_end]

          day_list.append(day)
          time_list.append(start_time+'-'+end_time)
          room_list.append(room)

          df = pd.DataFrame({
              'Day': day_list,
              'Time': time_list,
              'Room Number': room_list})
  return df

In [25]:
df=csv(dataset)
df.head()

  Day               Time Room Number
0  Su  02:00 PM-03:20 PM     UB21913
1  Tu  02:00 PM-03:20 PM     UB21913
2  Su  02:00 PM-03:20 PM     UB21913
3  Tu  02:00 PM-03:20 PM     UB21913
4  Mo  03:30 PM-04:50 PM     UB20802

In [26]:
rooms = df['Room Number'].unique()
rooms=list(rooms)
print(len(rooms))

135

In [27]:
time = df['Time'].unique()
print(sorted(time))

['02:00 PM-02:55 PM', '02:00 PM-03:20 PM', '02:00 PM-04:00 PM', '02:00 PM-05:05 PM', '03:05 PM-04:00 PM', '03:30 PM-04:50 PM', '04:10 PM-05:05 PM', '05:00 PM-06:00 PM', '05:00 PM-06:20 PM', '05:00 PM-06:30 PM', '06:00 PM-08:40 PM', '06:00 PM-09:00 PM', '06:30 PM-09:30 PM', '08:00 AM-09:20 AM', '09:00 AM-01:10 PM', '09:00 AM-09:55 AM', '09:00 AM-12:05 PM', '09:30 AM-10:50 AM', '10:00 AM-01:00 PM', '10:00 AM-12:00 PM', '10:05 AM-11:00 AM', '11:00 AM-12:20 PM', '11:10 AM-12:05 PM', '12:15 PM-01:10 PM', '12:30 PM-01:50 PM']

In [28]:
day = input('Enter the day: ')
time = input('Enter the time: ')

# Filter the DataFrame based on day and time
filtered_rows = df[(df['Day'] == day[:2]) & (df['Time'] == time)]

# Access the 'Room Number' column from the filtered rows
room_numbers = filtered_rows['Room Number'].tolist()
print(room_numbers)

Enter the day: mon
Enter the time: 3.00
[]

In [29]:
new = [x for x in rooms if x not in room_numbers]
print(*new)

UB21913 UB20802 UB20702 UB20801 UB20501 UB20203 UB20803 UB20804 UB20701 UB100204 UB100202 UB40602 UB30103 UB70802 UB41404 UB30203 UB100203 UB21511 UB100401 UB100501 UB100402 UB100502 UB10305 UB10203 UB10204 UB10102 UB10103 UB21002 UB21006 UB21901 UB10301 UB10302 UB21203 UB80202 UB40203 UB41001 UB81401 UB71103 UB80301 UB40103 UB40101 UB70501 UB41003 UB71101 UB41103 UB70701 UB80201 UB80103 UB70403 UB80302 UB80102 UB71102 UB41201 UB40902 UB30303 UB80403 UB70502 UB80404 UB70402 UB41101 UB70401 UB80401 UB30403 UB30301 UB41203 UB30401 UB70301 UB80402 UB40401 UB41301 UB70702 UB70302 UB71002 UB40403 UB50201 UB70304 UB30202 UB41102 UB30102 UB80101 UB41002 UB41202 UB70804 UB50303 UB71309 UB80910 UB30302 UB40901 UB30502 UB50302 UB70801 UB50301 UB50102 UB50402 UB413007 UB100503 UB0000 UB50202 UB50603 UB50403 UB20901 UB20902 UB20903 UB20904 UB10101 UB20102 UB20103 UB20104 UB21202 UB10303 UB21310 UB10304 UB21205 UB110201 UB110202 UB10201 UB40904 UB80203 UB80204 UB30501 UB30503 UB70303 UB71003 UB70503 UB40201 UB40903 UB21007 UB21003 UB10104 UB60809 UB60603 UB41403 UB21005 UB20204 UB20101