<a href="https://colab.research.google.com/github/Ahtesham-Ibne-Mostafa/BRAC_University_Empty_Room_Finding_Project/blob/main/BRAC_University_empty_room.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import datetime

In [2]:
url = "https://admissions.bracu.ac.bd/academia/admissionRequirement/getAvailableSeatStatus"
response = requests.get(url)
html_content = response.content

In [3]:
# Create a Beautiful Soup object
soup = BeautifulSoup(html_content, 'html.parser')

In [4]:
# Find the table or elements containing the data
table = soup.find('table')

In [5]:
# Extract the data from the table
data = []
for row in table.find_all('tr'):
    row_data = []
    for cell in row.find_all('td'):
        row_data.append(cell.text.strip())
    data.append(row_data)

dataset = pd.DataFrame(data)

In [6]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9
0,,ACT201,BBA,SHO,3.0,01,Su(02:00 PM-03:20 PM-UB21913) Tu(02:00 PM-03:2...,30,30,0
1,,ACT201,BBA,SHO,3.0,02,Su(02:00 PM-03:20 PM-UB21913) Tu(02:00 PM-03:2...,30,30,0
2,,ACT201,BBA,TBR,3.0,03,Mo(03:30 PM-04:50 PM-UB20802) We(03:30 PM-04:5...,33,33,0
3,,ACT201,BBA,AFZ,3.0,04,Su(02:00 PM-03:20 PM-UB20702) Tu(02:00 PM-03:2...,33,33,0
4,,ACT201,BBA,KUR,3.0,05,Sa(09:30 AM-10:50 AM-UB20702) Th(09:30 AM-10:5...,33,33,0

In [7]:
print(len(dataset[6]))

1398

In [8]:
def csv(dataset):
  day_list = []
  time_list = []
  room_list = []

  for i in range(len(dataset[6])):
      text=dataset[6][i].split(') ')
      for item in text:
          day_start = item.find("(") + 1
          start_time_start = item.find("(") + 1
          start_time_end = item.find("-", start_time_start)
          end_time_start = item.find("-", start_time_end) + 1
          end_time_end = item.find("-", end_time_start)
          room_start = item.find("-", end_time_end) + 1
          if ')' in item:
              room_end = item.find(")", room_start)
          else:
              room_end=len(item)
          day = item[:2]
          start_time = item[start_time_start:start_time_end]
          end_time = item[end_time_start:end_time_end]
          room = item[room_start:room_end]

          day_list.append(day)
          time_list.append(start_time+'-'+end_time)
          room_list.append(room)

          df = pd.DataFrame({
              'Day': day_list,
              'Time': time_list,
              'Room Number': room_list})
  return df

In [9]:
df=csv(dataset)
df.head()

  Day               Time Room Number
0  Su  02:00 PM-03:20 PM     UB21913
1  Tu  02:00 PM-03:20 PM     UB21913
2  Su  02:00 PM-03:20 PM     UB21913
3  Tu  02:00 PM-03:20 PM     UB21913
4  Mo  03:30 PM-04:50 PM     UB20802

In [10]:
rooms = df['Room Number'].unique()
rooms=list(rooms)
print(len(rooms))

135

In [25]:
def is_in_time_range(start,end,time):
    start_time = datetime.datetime.strptime("03:30 PM", "%I:%M %p")
    end_time = datetime.datetime.strptime("04:50 PM", "%I:%M %p")

    time = datetime.datetime.strptime(time, "%I:%M %p")

    return start_time <= time <= end_time


def check_time(time,df):
  unique_time=df["Time"].unique()
  for i in unique_time:
    start=i.split('-')[0]
    end=i.split('-')[1]
    if is_in_time_range(start,end,time):
        return i

In [29]:
day = input('Enter the day(eg: Monday): ')
time = check_time(input('Enter the time(eg: 03:30 PM): ').upper(),df)

day= day[0].upper()+day[1]
# Filter the DataFrame based on day and time

filtered_rows = df[(df['Day'] == day) & (df['Time'] == time)]

# Access the 'Room Number' column from the filtered rows
room_numbers = filtered_rows['Room Number'].tolist()
print(room_numbers)

Enter the day(eg: Monday): monday
Enter the time(eg: 03:30 PM): 3:45 pm
['UB20801', 'UB20802', 'UB20803', 'UB41404', 'UB70802', 'UB10203', 'UB21002', 'UB10204', 'UB21006', 'UB20804', 'UB20702', 'UB10102', 'UB21203', 'UB70401', 'UB80302', 'UB30403', 'UB80202', 'UB30303', 'UB80402', 'UB40203', 'UB71002', 'UB41001', 'UB41003', 'UB30301', 'UB71101', 'UB30401', 'UB80103', 'UB80301', 'UB70501', 'UB50201', 'UB81401', 'UB30102', 'UB41002', 'UB80401', 'UB70304', 'UB70301', 'UB40103', 'UB70403', 'UB41103', 'UB71103', 'UB30202', 'UB71102', 'UB71102', 'UB40101', 'UB80201', 'UB80102', 'UB40902', 'UB70502', 'UB70402', 'UB70702', 'UB41201', 'UB41101', 'UB70801', 'UB50302', 'UB30103', 'UB30203', 'UB40401', 'UB50303', 'UB70801', 'UB70801', 'UB50302', 'UB50301', 'UB20901', 'UB20902', 'UB20903', 'UB20904', 'UB10101', 'UB20102', 'UB20103', 'UB20104', 'UB21310', 'UB10303', 'UB20501', 'UB20701', 'UB10201', 'UB10304', 'UB30502', 'UB80204', 'UB70303', 'UB71003', 'UB70503', 'UB30501', 'UB40903', 'UB40904', 'UB30503', 'UB21007', 'UB10103', 'UB21003', 'UB20203', 'UB60809', 'UB10104', 'UB60603', 'UB41403', 'UB21005', 'UB20204', 'UB20101', 'UB40901', 'UB30302', 'UB40602', 'UB70802', 'UB110202', 'UB110201']

In [30]:
new = [x for x in rooms if x not in room_numbers]
print(*new)

UB21913 UB100204 UB100202 UB100203 UB21511 UB100401 UB100501 UB100402 UB100502 UB10305 UB21901 UB10301 UB10302 UB70701 UB80403 UB80404 UB41203 UB41301 UB70302 UB40403 UB41102 UB80101 UB41202 UB70804 UB71309 UB80910 UB50102 UB50402 UB413007 UB100503 UB0000 UB50202 UB50603 UB50403 UB21202 UB21205 UB80203 UB40201