<a href="https://colab.research.google.com/github/Ahtesham-Ibne-Mostafa/BRAC_University_Empty_Room_Finding_Project/blob/main/BRAC_University_empty_room.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Open the file in read mode
file_path = "/content/Brac.txt"
file = open(file_path, "r")

# Read the entire file content
content = file.readlines()

file.close()

In [ ]:
print(len(content))

19572

In [87]:
lst=[]
for i in content:
    if '290px' in i:
        lst.append(i)

In [28]:
import pandas as pd
Mo(08:00 AM-09:20 AM-UB413007) Mo(09:30 AM-10:50 AM-UB413007)

In [52]:
day_list = []
time_list = []
room_list = []

for i in range(len(lst)):
    text=lst[i].split('>')[1][:-4].split(') ')
    for item in text:
        day_start = item.find("(") + 1
        start_time_start = item.find("(") + 1
        start_time_end = item.find("-", start_time_start)
        end_time_start = item.find("-", start_time_end) + 1
        end_time_end = item.find("-", end_time_start)
        room_start = item.find("-", end_time_end) + 1
        if ')' in item:
            room_end = item.find(")", room_start)
        else:
            room_end=len(item)
        day = item[:2]
        start_time = item[start_time_start:start_time_end]
        end_time = item[end_time_start:end_time_end]
        room = item[room_start:room_end]

        day_list.append(day)
        time_list.append(start_time+'-'+end_time)
        room_list.append(room)

        df = pd.DataFrame({
            'Day': day_list,
            'Time': time_list,
            'Room Number': room_list})

In [53]:
df.head()

  Day               Time Room Number
0  Su  02:00 PM-03:20 PM     UB21913
1  Tu  02:00 PM-03:20 PM     UB21913
2  Su  02:00 PM-03:20 PM     UB21913
3  Tu  02:00 PM-03:20 PM     UB21913
4  Mo  03:30 PM-04:50 PM     UB20802

In [82]:
rooms = df['Room Number'].unique()
rooms=list(rooms)
print(len(rooms))

135

In [83]:
day = 'Mo'
time = '02:00 PM-03:20 PM'

# Filter the DataFrame based on day and time
filtered_rows = df[(df['Day'] == day) & (df['Time'] == time)]

# Access the 'Room Number' column from the filtered rows
room_numbers = filtered_rows['Room Number'].tolist()
print(room_numbers)

102

In [86]:
new = [x for x in rooms if x not in room_numbers]
print(*new)

UB21913 UB100204 UB100202 UB100203 UB21511 UB100401 UB100501 UB100402 UB100502 UB10305 UB21901 UB10301 UB10302 UB70701 UB80403 UB80404 UB41203 UB41301 UB70302 UB40403 UB41102 UB80101 UB41202 UB70804 UB71309 UB80910 UB50102 UB50402 UB413007 UB100503 UB0000 UB50202 UB50603 UB50403 UB21202 UB21205 UB80203 UB40201